[Desktop Entry]
Name=Quake II
Comment=Quake II (Quake2World.net) v1.212
Exec=bin/aq2
Icon=share/quake2.png
Terminal=false
Type=Application
Categories=Games;
StartupNotify=true
